/* site + folder index menu */
#admin_this_folder{
	/*text-align: left;*/

	#submission{
		font-weight: 600;
	}

	a{
	 	text-decoration: none;
		background-color: #fff;
		color: #000;
		line-height: 2em;
		border-left:1px solid #bbb;
		border-top:1px solid #bbb;
		border-bottom:1px solid #666;
		border-right:1px solid #666;
		padding:2px 2px;
		font-size: 90%;

		span{
			padding:0em 0.3em;
			margin: 0em 0.3em;
			white-space: nowrap;
		}
	}

	img{
		vertical-align: middle;
		padding-right: 4px;
	}

	select{
		vertical-align: middle;
	}
}	


dd#admin_textarea{
	margin-top: -0.5em;
	margin-left: 3px;
	width: 650px;
}



/* second site + folder index menu */
#toolbar{
	padding: 0.6em;
	padding-left: 0.6em;
	margin-top: 0.9em;

	a{
		text-decoration: none;
	}

	span{
		white-space: nowrap;
		font-size: 0.85em;
		font-weight: bold;
		background-color: #e6e6e6;
		border-top: 1px solid #bebebe;
		border-left: 1px solid #bebebe;
		border-bottom: 1px solid #303030;
		border-right: 1px solid #303030;
		margin-right: 0.4em;
		padding:0.15em;
		padding-left: 0.3em;
		color: #333333;
	}

	img{
		position: relative;
		top: 1px;
	}

	input,button,span{
		white-space: nowrap;
		font-size: 0.85em;
		font-weight: bold;
		background: #fff;
		border-left:1px solid #bbb;
		border-top:1px solid #bbb;
		border-bottom:1px solid #666;
		border-right:1px solid #666;
		padding: 0.1em 0.2em;
		color: #333333;

		&:hover{
			border-left:1px solid #6791c3;
			border-top:1px solid #6791c3;
			border-bottom:1px solid #34649b;
			border-right:1px solid #34649b;
			color: #4e7cb0;
		}
	}
}


/*#toolbar input, #toolbar button, #toolbar span {
	white-space: nowrap;
	font-size: 0.85em;
	font-weight: bold;
	background: #fff;
	border-left:1px solid #bbb;
	border-top:1px solid #bbb;
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	padding: 0.1em 0.2em;
	color: #333333;
}*/
/*#toolbar input:hover, #toolbar button:hover, #toolbar span:hover {
	border-left:1px solid #6791c3;
	border-top:1px solid #6791c3;
	border-bottom:1px solid #34649b;
	border-right:1px solid #34649b;
	color: #4e7cb0;
}*/

