f/* center part and content */
#container {
	width: 100%;
	height: auto;
	margin: 0px auto;
	color: #333;
	/*background: url(dot-bg.gif) repeat-y 81.5%;*/
}

#center_content {
	float: left;
	width: 100%;
	background: #fff;
	font-size: 16px;
	
}

.center_portlet_content ul {
	list-style-type: none;
	font-size: 16px;
	padding: 0;
}
.center_portlet {
	margin-top: 0.5em;
}
.center_portlet .center_portlet_title {
	color: #000000;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.5em;
	margin-top: 0.3em;
	padding-left: 0.3em;
	position: relative;
}
.center_portlet .center_portlet_content {
	position: relative;
	line-height: 1.5em;
}
.center_portlet .center_portlet_content a {
	color: blue;
}
/*.postedon {
	font-size: 90%;
}*/

.additem-left {
	background: url("arrow-right.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}
.additem-right {
	background: url("arrow-left.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}
.moveitem-up {
	background: url("arrow-up.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}
.moveitem-down {
	background: url("arrow-down.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}


/* Switch to/from full screen mode */
#outer_wrapper_fs {
	background-image: none;
/*	border-left: 1px solid #666666;
	border-right: 1px solid #666666;*/
}

#outer_wrapper {
/*	margin: 0 auto;
	width: 100%;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	background: url(dot-bg.gif) repeat-y 17.5%;*/
}

body.fullscreen {
	padding:0 1%;
}


#middle_port{
	margin-left:0.8%;
	padding: 0;
	width: 81%;
	float: left;

	h1 {
		color: #006699;
		padding: 5px 0 0 5px;
		font-size: 32px;
		font-weight: 600;
	}
	h2{
		font-size: 16px;
		font-weight: 400;
	}
	h2, h3, h4{
		padding: 0.2em 0.4em;
/*		a{
			color: white;
			background-color: #767676;
		}*/
	}
	a{
		text-decoration: none;
		/*color: #069;*/
		&:link{
			color: #069;
		}
		&:visited{
			color: #069;
		}
		&:hover{
			color: #bf5900;
			text-decoration: underline;
		}	
	}
}

.fullscreen{
	#left_port {
		display: none;
	}
	#middle_port {
		width: 98.2%;
		margin-left: 0.8%;
	}
	#topnav li #fs_show {
		background:transparent url(misc_/Naaya/fullscreencollapse_icon.gif) no-repeat scroll left center;
		padding:3px 0.5em 1px 16px;
	}	
}
