/* generic elements */
body {
	margin: 0;
	font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*site content without footer*/
#container {
	width: 100%;
	height: auto;
	margin: 0px auto;
	color: #333;
}


/*input{
	border-radius: 15px;
    height: 27px;
    line-height: inherit;
    padding: 0 10px;
    border: 1px solid #dddddd;
  	&:focus{
		outline: none;
    }
}*/

form{
	input, select{
		border-radius: 15px !important;
	    height: 27px !important;
	    line-height: inherit !important;
	    padding: 0 10px !important;
	    border: 1px solid #dddddd !important;

	    &:focus{
		   outline: none !important;
		}
	}
}

fieldset {
	border: 1px solid #cccccc;
}
fieldset legend {
	font-weight: 700;
	/*font-size: 0.9em;*/
	/*padding: 0 10px;*/
	color: #084173;
}
h2 {

}

a {
	text-decoration: none;
	img {
		border: none;
	}
/*	&:link {
		color: #069;
	}*/
	&:visited {
		color: #2a6495 !important;
	}
	&:hover {
		color: #bf5900 !important;
		text-decoration: underline;
	}
/*	&:active {
		color: #bf5900;
	}	*/
}

dt {
	font-weight: 700;
}

dd {
	line-height: 1.3em;
	margin-bottom: 0.8em;
}

abbr, acronym, .explain {
	text-decoration:none;
	border-bottom: 1px dotted black;
	color: black;
	background-color: transparent;
	cursor: help;
}

q {
	font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 120%;
}

code {
	font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 120%;
	color: black;
	background-color: white;
	padding: 0 0.1em;
}

pre {
	font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	padding: 1em;
	color: black;
	background-color:  #eef7f9;
	overflow: auto;
}

.cleaner {
	clear: both;
}

/* extra styles from EIONET */
/* Tables */
/* Default are layout tables. We can not really style those. It would have too many side effects */
table {
	empty-cells: show;
}

td {
	line-height: normal; 
	text-decoration: none;
}

th {
	font-weight: 700; 
	line-height: normal; 
	padding: 0.1em 0.5em;
	text-decoration: none;
}
th a, th a:link, th a:visited {
	color: black;
}

table .number {
	text-align: right;
}
table .sum {
	font-weight: 700;
}
table .center {
	text-align: center;
}


/* Tables for arranging formulars */

table.formtable {
	border: 1px solid #315076;
	border-collapse: collapse;
}

.formtable th {
	vertical-align: top;
	text-align: right;
	border: none;
	background: transparent;
}

.formtable th.scope-col { /* IE6 doesn't understand [scope="col"] */
	text-align: left;
	border-bottom: 1px dotted #315076;
}

.formtable th[scope="col"] {
	text-align: left;
	border-bottom: 1px dotted #315076;
}

.formtable td  {
	vertical-align: top;
}


/* standard figure, used for articles and pages.
   can be floated left or right with additional 
   class figure-right or figure-left
 */

.figure, .figure-plus {
  font-size: x-small;
  text-indent: 0;
}
.figure-title, .figure-nr {
 font-weight: 700;
}
.figure-image {
text-align:center;
}
.figure-source-copyright {
text-align:right;
}

.figure-plus-container {
  padding: 0 6px 6px 0;
  background: transparent url(shadow.png) no-repeat bottom right;
  margin: 10px 5px 5px 10px;
  width:33%;
}

.figure-plus {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 0 0 -6px;
  padding: 4px;
}

/* floating left or right */
.figure-right {
  float: right;
  margin-left:6px; 
}

.figure-left {
  float: left;
  margin-right:6px; 
}

/* standard elements with shadow background */
.dropshadow, .figure, .thumbnail-right {
  padding: 0 6px 6px 0;
  background: transparent url(shadow.png) no-repeat bottom right;
  margin: 10px 5px 5px 10px;
}

/* standard elements which are shadowed and therefore moved up*/
.shadowed, .figure img, .thumbnail-right img {
  display: block;
  position: relative;
  background-color: #fff;
  margin: -6px 0px 0px -6px;
  border: 1px solid #a9a9a9;
  padding: 4px;
}

/* hover effect for images inside links */
.dropshadow img a:hover, .figure img a:hover, .thumbnail-right img a:hover {
  background-color: #e0e7d7;
  border: 1px solid #b20d00;
}

img.scaled {
  width: 100%;

}


input[type="button"], input[type="submit"], input[type="reset"] {
    background-color: #069;
    border: 1px solid #003a61 !important;
    border-radius: 0 !important;
    font-weight: 600;
    color: #fff!important;
    box-shadow: none;
    text-shadow: none;
    padding: 6px 12px;

    &:hover{
    	background-color: #bf5900;
    	cursor: pointer;
    }
}


#rightcolumn.quickjumps {
	width: 140px;
	padding: 0.5em 2em;
/*
	border: 1px solid #495b6b;
	background-color : #e5e2dc; 
*/
}
.quickjumps ul {
	list-style-image: url(bullet.gif);
	list-style-type: square;
	margin-left: 0;
	padding-left: 1.5em;
}
.quickjumps li {
	font-size: 80%; 
	font-style: normal; 
	line-height: normal; 
	font-weight: 700; 
	padding-bottom: 0.4em;
}
.quickjumps a{
	text-decoration: none;
	color: #024176
}
/*.quickjumps a, .quickjumps a:visited {
	text-decoration: none;
	color: #024176
}*/
.quickjumps h2 {
	background-color : #eef7f9;
	text-align: center;
	margin-bottom: 0;
	font-size: 110%;
}
.quickjumps p {
	border-top: 1px dotted black;
	margin-bottom: 0;
	margin-top: 0.5em;
}

.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0;
padding: 0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: white left center;
list-style-type: none;
padding-left: 22px;
margin-bottom: 3px;
font-size: 1.1em;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: white url(misc_/SMAP/closed.gif) no-repeat left 1px;
cursor: pointer !important;
}


.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
padding-left: 5px;
font-size: 1em;
cursor: default;
}


/* Breadcrumb trail */

/*For site and forum*/

#breadcrumbtrail, .breadcrumbtrail{
	clear: left;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 14px;
    padding: .3em 2.3em;
    margin-bottom: 1.5em;

	@media screen and (max-width: 1200px){
		padding-left: 1.2em;
    }

	a {
		text-decoration: none;
		line-height: 25px;

		&:hover {
			text-decoration: none !important;
		}
	}
}

.breadcrumbitem {
	padding-right:11px;
	a{
		color: #333;
	}
}
.breadcrumbitemlast {
    font-weight: 700;
    a{
    	color: #bf5900;

    	&:visited{
    		color: #bf5900 !important;
    	}
    }
}

.breadcrumbhead {
	display: none;
}

#footer{
	a{
		&:visited, &:hover{
			color: #fff !important;
		}
	}
}