/* header */
#wrapper {
	margin: 0; 
	padding: 0;
}

#header{
	clear: both;
	padding: 0 2em;
	/*height: 102px;*/
	/*border-top: 1px solid #4b5257;
	background: #A5CED1 url('top_01.png') repeat-y scroll 0 0;*/
	a {
		border: none;
		img {
			border: none;
			float: left;
		}
	}
}

/* Tool ribbon start */

#toolribbon{
    height: 30px;
	width: 100%;
	font-size: 80%;
	position: relative;
    top: 1.6em;
/*	color:#315076;
	background-color: #ffffff;
	border-bottom: 4px solid #6f7072;*/

/* 	a{
	display:inline-block;
	height: 16px;
	color: #000;
	background-color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	padding: 3px 0.5em 1px 0.5em;
}

label{
	display: inline-block;
	vertical-align: middle;
}

img{
	vertical-align: middle;
}

input{
	vertical-align:middle;
	margin: 0;
	padding: 0;
} */

}

#topnav {
	text-align:right;
	float:right;
	display: flex;
	padding-right: 2em;
/*	width:70%;
	height: 20px;
	padding: 4px 0.5em;*/

	form{
		margin-bottom: 0;	
		order: 2;
	}

	ul {
		padding:0;
		margin: 0.3em 10px 0 0;
		display: inline; 
		list-style-type: none;
		float: right;
		order: 3;
	}

	ul.site_actions {
		margin-right: 3px;
		order: 1;
		/*font-size: 16px;*/
	}
	li {
		padding: 0;
		margin: 0;
		display: inline;
		a {
			color: #666;
			margin: 0; 
			padding: 0 6px 0 4px;

			&:hover{
				color: #bf5900;
			}
		}
	}
}


#topnav li #fs_show {
	background:transparent url(misc_/Naaya/fullscreenexpand_icon.gif) no-repeat scroll left center;
	padding:3px 0.5em 1px 16px;
	display: none;
}

.fullscreen{
	#left_port {
		display: none;
	}
	#middle_port {
		width: 98.2%;
		margin-left: 0.8%;
	}
	#topnav li #fs_show {
		background:transparent url(misc_/Naaya/fullscreencollapse_icon.gif) no-repeat scroll left center;
		padding:3px 0.5em 1px 16px;
		display: none;
	}	
}


/*#lefttools {
	float:left;
	height: 20px;
	padding: 4px 0.5em;
	text-align:left;
	vertical-align: middle;
}*/


/*to delete;;not included in new style*/
#left_topnav {/*
	float:left;
	width:27%;
	height: 20px;
	padding: 4px 0.5em;
	text-align:left;*/
	display: none;
}


#search {
	margin: 0.3em 10px 0 0;
	float: right;
	display: inline;

	label {
		color: #696969;
		position: absolute;
	}

	input {
	    &#freesrchbtn{
	    	display: none;
	    }
	}
}

.search_btn {
	width: 3em !important;
	height: 16px !important;
	margin-right: 0.5em;
	text-align: center;
	border: 1px solid #333;
	background:#fff;
}

.page_title {
	color: #006699;
	font-size: 28px;
	font-weight: 600;
	position: relative;
    top: -0.6em;
    width: 50%;
}

/*to delete;;not included in new style*/
.page_subtitle {
	display: none;
}

/*to delete;;not included in new style*/
#menunav{
	display: none;
}


/* start EIONET - Like dropdown menus */
#dropdowns, #dropdowns ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#dropdowns li {
	float: left;
	position: relative;
	text-transform: uppercase;
	border-right: 1px dotted #ffffff;
	/*background-color: #00446a;*/
	color: #fff;
	z-index: 11; /* Bug in IE6, IE7 */
}

#dropdowns a:link{
	display: block;
	text-decoration: none;
	padding: 0 0.5em;
}

/*#dropdowns a:link, #dropdowns a:visited {
	display: block;
	text-decoration: none;
	padding: 0 0.5em;
}
*/
#dropdowns ul {
	display: none;
	position: absolute;
	top: 1.5em;
	left: 0;
	background-color: #eee;
}

#dropdowns li > ul { /* For Opera and Firefox */
	top: auto;
	left: auto;
}

#dropdowns ul li {
	float: none;
	border-right: 0 none transparent;
	border-bottom: 1px dotted #000;
	background-color: #eee;
	text-transform: none;
	margin: 0;
	padding: 0;
	color: #fff;
}

#dropdowns li ul li a:link, #dropdowns li ul li a:visited {
	padding: 0.1em 0 0.1em 15px;
	color: #000;
	font-weight: normal;
	background: transparent url('arrow-normal.png') 3px center no-repeat;
}
#dropdowns li:hover ul li a:hover, #dropdowns li.over ul li a:hover {
	background-color: white;
}

#dropdowns li:hover ul, #dropdowns li.over ul {
	display: block;
}

#dropdowns li:hover ul li, #dropdowns li.over ul li {
	min-width: 20em;
}
/* End EIONET dropdown */

/* select language part */
#language {
	color:#333333;
	float:right;
	margin-right:0.7em;
	position:relative;
	white-space:nowrap !important;
	float:right;
}
#language span {
	font-size:0.75em;
}
#language a {
	color:#000000;
	display:block;
	float:left;
	font-size:11px !important;
	font-weight:normal;
	height:23px;
	line-height:23px;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	width:30px;
	background: url("bg-lang-btns.gif") no-repeat bottom left;
}

#language form {
	display:inline;
}
#language a:hover, #language a.current {
	background: url("bg-lang-btns.gif") no-repeat top left;
}

/* styles for the two logos */
#logo {
	margin-right: 1em;
	margin-left: 0.5em;
	vertical-align: middle;
}
/*to be deleted*/
#right_logo {
/*	float: right;
	margin-right: 1em;
	vertical-align: middle;
	height: 102px;*/
	display: none;
}

#breadcrumbtrail {
	clear:left;
	padding: 1px 0px 1px 1em;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 14px;
    padding: .3em 2.3em;
    margin-bottom: 1.5em;
	a{
		text-decoration: none;
		line-height: 25px;
		&:hover{
			color: #bf5900;
			text-decoration: none;
		}
	}
}

.breadcrumbitem {
	/*background-image:url(arrow-normal.png);*/
	/*background-position:100% 2px;*/
	background-position: right center;
	background-repeat:no-repeat;
	margin-right:3px;
	padding-right:11px;
	a{
		color: #333;
	}
}
.breadcrumbitemlast {
    font-weight: 600;
    a{
    	color: #bf5900;
    }
}

.breadcrumbhead {
	display: none;
}
.breadcrumbtail {
	font-size:0.1px;
	width:1px;
}