/* header */
#wrapper {
	margin: 0; padding: 0;
}
#header {
	clear: both;
	height: 102px;
	border-top: 1px solid #4b5257;
	background: #A5CED1 url('top_01.png') repeat-y scroll 0 0;
}
#header{
	a {
		border: none;
		img {
			border: none;
			float: left;
		}
	}
}

/* Tool ribbon start */
#toolribbon {
	height: 30px;
	width: 100%;
	font-size: 80%;
	color:#315076;
	background-color: #ffffff;
	border-bottom: 4px solid #6f7072;
}

#toolribbon label {
	display:inline-block;
	vertical-align: middle;
}

#toolribbon img {
	vertical-align:middle;
}

#toolribbon a {
	display:inline-block;
	height: 16px;
	color: #000;
	background-color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	padding: 3px 0.5em 1px 0.5em;
	border-right: 1px dotted #6f7072;
}
#toolribbon input {
	vertical-align:middle;
	margin: 0;
	padding: 0;
}
#toolribbon form {
	margin-bottom: 0;
}

#lefttools {
	float:left;
	height: 20px;
	padding: 4px 0.5em;
	text-align:left;
	vertical-align: middle;
}
#topnav {
	float:right;
	width:70%;
	height: 20px;
	padding: 4px 0.5em;
	text-align:right;
}
#topnav ul {
	padding:0;
	margin: 0.3em 10px 0 0;
	display: inline; 
	list-style-type: none;
	float: right;
}
#topnav li {
	padding: 0;
	margin: 0;
	display: inline;
	/*font-family: Arial, Helvetica, sans-serif;*/
}
#topnav li a {
	margin: 0; padding: 0 6px 0 4px;
}
#topnav ul.site_actions {
	margin-right: 3px;
}
#left_topnav {
	float:left;
	width:27%;
	height: 20px;
	padding: 4px 0.5em;
	text-align:left;
}
#left_topnav ul {
	margin:0;
	padding: 0.3em 0 0 0;
	display: inline; 
	list-style-type: none;
	float: left;
}
#left_topnav li {
	padding: 0 0 0 0;
	margin: 0;
	display: inline;
	/*font-family: Arial, Helvetica, sans-serif;*/
}
a#eealink {
	padding-left: 18px;
	background: url("eeaicon.gif") no-repeat left center;
}
#search {
	margin: 0.3em 10px 0 0;
	float: right;
	display: inline;
}
#search label {
	color: #333;
}
* html #search label {
	margin-top: -1em;
}
* html #search input {
	font-size: 100% !important;
}
.search_btn {
	width: 3em !important;
	height: 16px !important;
	margin-right: 0.5em;
	text-align: center;
	border: 1px solid #333;
	background:#fff;
}
#search form {
	margin:0;
}

.page_title {
	color: #feffff;
	padding-left: 25px;
	padding-top: 20px;
	font-size: 200%;
	font-weight: bold;
	font-variant: small-caps;
}
.page_subtitle {
	color: #feffff;
	padding-left: 25px;
	font-weight: bold;
	font-size: 120%;
	margin: 0;
	padding-top: 0;
}

#menunav {
	font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
	float: left;
	width:100%;
	max-height: 20%;
	padding: 0;
	background:#00446A none repeat scroll 0 0;
	border-top: 1px solid black;
	line-height: 2em;
	border-bottom: 1px solid black;
	white-space: nowrap;
}
#menunav ul {
	list-style: none;
}
#menunav li {
	float: left;
	text-transform: uppercase;
	border-right: 1px dotted #ffffff;
	color: #feffff;
	z-index: 11; /* Bug in IE6, IE7 */
}
* html #menunav li {
	width: 1.5em;
}
#menunav li a, #menunav li a:link, #menunav li a:visited {
	display: block;
	text-decoration: none;
	color: #feffff;
}
#menunav li a:hover {
	background: #fff;
	color: #000;
}
#menunav form {
    margin-bottom: 0;
}

/* start EIONET - Like dropdown menus */
#dropdowns, #dropdowns ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#dropdowns li {
	float: left;
	position: relative;
	text-transform: uppercase;
	border-right: 1px dotted #ffffff;
	/*background-color: #00446a;*/
	color: #fff;
	z-index: 11; /* Bug in IE6, IE7 */
}

#dropdowns a:link, #dropdowns a:visited {
	display: block;
	text-decoration: none;
	padding: 0 0.5em;
	/*color: #fff;*/
}

#dropdowns ul {
	display: none;
	position: absolute;
	top: 1.5em;
	left: 0;
	background-color: #eee;
}

#dropdowns li > ul { /* For Opera and Firefox */
	top: auto;
	left: auto;
}

#dropdowns ul li {
	float: none;
	border-right: 0 none transparent;
	border-bottom: 1px dotted #000;
	background-color: #eee;
	text-transform: none;
	margin: 0;
	padding: 0;
	color: #fff;
}

#dropdowns li ul li a:link, #dropdowns li ul li a:visited {
	padding: 0.1em 0 0.1em 15px;
	color: #000;
	font-weight: normal;
	background: transparent url('arrow-normal.png') 3px center no-repeat;
}
#dropdowns li:hover ul li a:hover, #dropdowns li.over ul li a:hover {
	background-color: white;
}

#dropdowns li:hover ul, #dropdowns li.over ul {
	display: block;
}

#dropdowns li:hover ul li, #dropdowns li.over ul li {
	min-width: 20em;
}
/* End EIONET dropdown */

/* select language part */
#language {
	color:#333333;
	float:right;
	margin-right:0.7em;
	position:relative;
	white-space:nowrap !important;
	float:right;
}
#language span {
	font-size:0.75em;
}
#language a {
	color:#000000;
	display:block;
	float:left;
	font-size:11px !important;
	font-weight:normal;
	height:23px;
	line-height:23px;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	width:30px;
	background: url("bg-lang-btns.gif") no-repeat bottom left;
}

#language form {
	display:inline;
}
#language a:hover, #language a.current {
	background: url("bg-lang-btns.gif") no-repeat top left;
}

/* styles for the two logos */
#logo {
	margin-right: 1em;
	margin-left: 0.5em;
	vertical-align: middle;
}
#right_logo {
	float: right;
	margin-right: 1em;
	vertical-align: middle;
	height: 102px;
}

/* breadcrumb trail */
#breadcrumbtrail {
	clear:left;
	padding: 1px 0px 1px 1em;
	font-size: 0.75em;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #7d7d7d;
	border-bottom: 1px dotted rgb(143,167,113);
	background: #fff;
}
#breadcrumbtrail a {
	color: #888;
	text-decoration: none;
	font-weight:bold;
	line-height: 25px;
}
#breadcrumbtrail a:hover {
	color: black;
	text-decoration: underline;
	font-weight:bold;
}
.breadcrumbitem {
	background-image:url(arrow-normal.png);
	/*background-position:100% 2px;*/
	background-position: right center;
	background-repeat:no-repeat;
	margin-right:3px;
	padding-right:11px;
}
/*.breadcrumbitemlast {
}*/
.breadcrumbhead {
	margin-right:3px;
}
.breadcrumbtail {
	font-size:0.1px;
	width:1px;
}