#leftcolumn{
	left: 0px;
	width: 17%;
    float: left;
    padding-bottom: 1.5em;
    padding-left: 2em;
    padding-right: 15px;
    border-bottom: 1px solid #ddd;

    @media screen and (max-width: 1200px){
		width: 95%;
	    padding-left: 1em;
	    padding-right: 0;
	}
}

.localnav{

    h2{
	   	color: #333;
	    font-size: 20px;
	    font-style: normal;
	    font-weight: 600;
	    line-height: normal;
	    margin: 0.3em 0 0.1em 0;
	    text-align: left;
	    padding-bottom: 10px;
	    padding-top: 0.5em;

	    &:first-child{
	    	padding-top: 0;
	    }
    }

    ul{
	    list-style-image: none;
	    list-style-position: outside;
	    list-style-type: none;
	    margin: 0 0 0.5em;
	    padding-left: 0;

	    li{
			border-bottom: 1px solid #f2f2f2;
		    font-size: 14px;
		    line-height: 100%;
		    margin: 0;
		    padding: 0;
		    vertical-align: bottom;
		    padding: .6em 0;

		    &:last-child{
				border-bottom: 1px solid #ddd;
				padding-bottom: 10px;
    			margin-bottom: 20px;
			}

			a{
				border:medium none;
				color: #069;
				display:block;
				margin:0;
				padding:3px 6px 3px 25px;
				text-decoration:none;
				background: transparent url('lnav_menu.gif') no-repeat scroll left top;

				&:hover{
					color: #bf5900;
					text-decoration: underline;
				}
/*				&:before{
				    font-family: 'Glyphicons Halflings';
				    font-size: 80%;
				    margin-right: 0;
				    top: 1px;
				    content: "\e258";
				}*/
			}

	    }
    }

    .localnav{
    	h2{
    		padding-top: 0.5em;
    	}
    }

}

.note-msg {
    background-color: #f2f1f1;
    box-shadow: 0 2px 4px rgba(0,0,0,.17);
}
