/* left side and left menu */
#left_port {
	margin: 0;
	padding: 0;
	width: 17%;
	float: left;
}
.left_portlet {
	padding: 0.1em 0.2em 1em 1em;

	.left_portlet_title {
		color: #333;
		font-size: 20px;
		font-style:normal;
		font-weight: 600;
		line-height:normal;
		margin:0.3em 0 0.1em 0;
		padding-top:0;
		text-align:left;
		text-decoration:none;
	}	

}
.left_portlet .left_portlet_title a {
	text-decoration: none;
	font-weight: bold;
	color: #222;
}

.left_portlet ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 0 0.5em;
	padding-left:0;
}
.left_portlet ul li{
	border-bottom:1px solid #f2f2f2;
	font-size: 14px;
	line-height:100%;
	margin:0;
	padding:0;
	vertical-align:bottom;
}
.left_portlet ul li a {
	border:medium none;
	color: #069;
	display:block;
	margin:0;
	padding:3px 6px 3px 25px;
	text-decoration:none;
	background: transparent url('lnav_menu.gif') no-repeat scroll left top;
}
.left_portlet li a:hover {
	color: #bf5900;
	text-decoration: underline;
}

/*.left_portlet li a:before{
    font-family: 'Glyphicons Halflings';
    font-size: 80%;
    margin-right: 0;
    top: 1px;
    content: "\e258";
}
*/

/*right side - menu and content*/
#right_port {
	margin: 0;
	padding: 0;
	width: 21%;
	float: left;
}
* html #right_port { 
	margin-left: 0.7%;
}
.right_portlet {
	float: left;
	margin: 0;
	padding: 0 0 10px 10px;
	width: 100%;
}
* html .right_portlet {
	width: auto;
}
.right_portlet .right_portlet_title {
	border-bottom: 1px solid #ccc;
	background: #f3f3f3;
	padding: 0.8em 0.5em 0.8em 0.5em;
	text-transform: uppercase;
	font-size: 0.9em;
}

.right_portlet ul {
	background: #fff;
	list-style-type: none;
	list-style-image: none;
	padding-left: 0;
	margin: 0;
	border-bottom: 1px dotted #ccc;
}
.right_portlet li{
	padding: 0.3em;
	background: #fff;
	color: #084173;
	font-size: 90%;
	font-weight: bold;
	line-height: 100%;
	vertical-align: bottom;
	margin: 0px;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #ddd;
	display: block;
}
* html .right_portlet li{
	display: inline-block; /* fix for IE peek-a-boo bug */
}
.right_portlet ul li:hover { 
	background: #f2f2f2;
}
.right_portlet ul li a {
	display:block;
	font-weight: normal;
	text-decoration: none;
	color: #44464B;
	padding: 3px 6px 3px 0;
	border: none;
	margin: 0px;
}
.right_portlet ul li a:hover {
	color: #000;
}